<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_gtm.html") %>

    <h1>Videos of the year 2018</h1>
    <p class="chatter">
      Our favorite Seattle Times video stories and short documentaries of 2018
    </p>

     <div id="player" class="feature-player">
      <div class="video-container aspect-outer pending">
        <div class="aspect-inner">
          <!-- <video
            data-account="1509317113"
            data-player="Nk8AFQkhe"
            data-embed="default"
            id="player"
            class="video-js" controls>
          </video> -->
          <div id="firstVid"></div>
          <div id="secondVid">
          <script src="https://cdn.jwplayer.com/players/vH5rJNPD-UXknQA8J.js"></script>
        </div>
      </div>

      <hr class="divider">
      <div class="mainVidStats">
        <div id="title-hed">Mother-daughter powerlifters 'don't care what people have to say'</div>
        <div id="title">Chisato DuBose, 54, and her daughter Sachie DuBose, 18, are world-champion power lifters and competitive bodybuilding athletes. As the women train and compete together, they build each other up. (Erika Schultz and Corinne Chin / The Seattle Times)</div>
        <div id="title-link"><a id="story-link" href="https://www.seattletimes.com/video/" target="_blank" rel="nofollow noreferrer noopener">Read more &raquo;</a></div>
      </div>



       <div class="playlist-controls">
        <div class="playlist-container loading"></div>
        </div>
    </div>



    <%= t.include("partials/_ad.html", { type: "banner" }) %>



    <%= t.include("partials/_navBottom.html") %>


    <script src="https://cdn.jwplayer.com/libraries/oNGue23q.js"></script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
